{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name='symbol' class = "btn btn-secondary dropdown-toggle">
            <option disabled selected value="">Symbol</option>
            {% for stock in stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="No. of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}